.ghani {
    color: #2dca73;
    font-size: 70px;
  }
.ghani1{
  color:#0f172a;
  font-size: 26px;
}
  .paragraph {
    font-family: 'Roboto';
    color: #475569;
    font-size: 17px;
  }
  .heading {
    font-family: 'Roboto';
    font-size: 20px;
  }
  .second-card-container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  @media screen and (max-width:767px){
    .card-container {
      background-color:#fff !important;
      border-radius: 10px !important;
      border: 1px solid #ccc !important;
      padding: 20px !important;
      width: 40vw !important;
      height: 19vh !important;
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      margin: 10px !important;
    }
  
  }
  .card-container {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    width:25vw;
    height: 20vh;
    display: flex;     
    flex-direction: row;    
     width: 35vw;     
     align-items: center;     
     margin: 10px; 
   
  }