.image{
    height: 110px;
    width: 180px;
}
@media screen and (max-width:900px){
    .fourth-image-item-container{
        margin-top: 50px; 
        margin-right: 100px; 
        width: 10vw;  
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
       padding:10px;
       margin-left: 10px;
    }
    .third-image-item-container{
        margin-left: 35px;
        margin-top: 30px;
        width:130px;
    }
    .icon1{
        font-size:20px;
        color:#ffffff;
        margin-left:18px;
     }
                    
}
.fourth-image-item-container{
    margin-top: 50px; 
    margin-right: 100px; 
    width: 10vw;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
.para{
    font-family: "Roboto";
    color:#ffffff;
    font-size: 19px; 
    font-weight: bold;
}
.first-image-item-container{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin:20px;  
}
.icon1{
   font-size:20px;
   color:#ffffff;
}
.third-image-item-container{
    margin-left: 35px;
    margin-top: 30px;
}
.second-image-item-container{
    display: flex;
    flex-direction: row; 
    margin-left: 30px;

}
.heading2{
    font-family: "Roboto";
    color: #3b82f6;
    font-size:22px;
}
.heading1{
    font-family: "Roboto";
    color:#ffffff; 
    font-size: 28px;

}