.sub-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png");
    height: 100vw;
    background-size: cover;
    height: 60vh;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    @media screen and (max-width: 900px) {
        .sub-container {
            background-image: url("https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png");
            background-repeat: no-repeat; /* Ensures no repeating of the image */
            background-size: cover; /* Covers the entire container */
            background-position: center; /* Centers the image */
            height: 60vh; /* Maintains the desired height */
            box-sizing: border-box; /* Includes padding and border in dimensions */
            padding: 20px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
.input-container{
    display: flex;
    flex-direction: row;
    margin-right: 4px;
}
.font-style{
    color:#ffffff;
    font-size:15px;
    position: absolute;
    margin-top:10px;
    margin-left: 180px;
}
.input-styling{
    width: 200px; 
    height: 30px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;  
    border-radius: 4px; 
    color:#cbd5e1; 
    font-size:17px;
}
.next-contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding:25px;
}
.heading1{
    font-family: "Roboto";
    color:#ffffff;
}
.paragraph{
    font-family: "Roboto";
    color:#ffffff; 
    font-size:24px;
    margin-left: 15px;
}
.heading{
    font-family: "Roboto";
    color:#ffffff; 
    font-size:38px;
    margin-left: 15px;
}
.ghani{
    font-family: "Roboto";
    color:#ffffff; 
    font-size:50px;
    font-weight: bold;
    margin-top:50px;
    text-align: center;
}